@import "@styles/reusable.module.scss";

.badge {
  padding: 5px 10px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  white-space: nowrap;
  line-height: 20px;
  color: $white;
  font-size: $fs-small;
  background-color: $badge-dark;
  font-weight: $fw-bold;
}
